@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


*{
  margin:0%;
  padding: 0%;
}


video {
 object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.navicMainDiv{
  position: fixed;
  top: 0%;
  height: 7%;
  width: 100%;
  /* border: 2px solid red; */
  font-family: 'Indie Flower', cursive;
  z-index: 3;
  color: grey;





}
.nesto{
  background: black;
  opacity: 0.6;
  color: white;
}


.navicMainDivRed{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

}



.ulClassa{
  height: 100%;
  width: 100%;
  /* border: 2px solid blue; */
 /* z-index: 3; */
 display: flex;



}

.ulClassaItems{
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.hello{
  position:absolute;
  top: 100vh;

  height: 100vh;
  width: 100%;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textAnimacija{
  position: absolute;
  top:40%;
  left: 10%;
  right: 10%;
 
  width: 80%;
  /* border: 2px solid black; */
  font-family: 'Architects Daughter', cursive;
}








.navicMainDiv768{
  position: fixed;
  top: 0%;
  height:65%;
  width: 100%;
  /* border: 2px solid red; */
  font-family: 'Indie Flower', cursive;
  z-index: 3;
  

 



}






.ul768{
  height: 50vh;
  width: 100%;
  /* border: 2px solid red; */
 


}
.ul768 ul{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  cursor: pointer;
 

}

.u768{
  list-style: none;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;



}


.page2{
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
background-color: rgb(151, 168, 184);
font-family: 'Josefin Sans', sans-serif;
 
}

.page2Row{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slika{
  height: 100vh;
  width: 100%;
}

.slika2{
  height: 40vh;
  width: 100%;
}
 

.h{
  height: 50vh;
padding-bottom: 15px;


}

.divThreeItems{
  height: 100%;
  width: 100%;


}
.page3{
  position: absolute;
  top: 200vh;
  width: 100%;
  height: 100vh;
background-color:whitesmoke;
font-family: 'Josefin Sans', sans-serif;
 


}

.page4{
  position: absolute;
  top: 300vh;
  width: 100%;
  height: 100vh;
background-color:rgb(151, 168, 184);
font-family: 'Josefin Sans', sans-serif;
 
}

.page4Row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
























@media only screen and (max-width: 994px) {
  .page2 {
    height: 200vh;
  }
  .page3{
    position: absolute;
    top: 300vh;
  }
  .page4{
    position: absolute;
    top: 530vh;
    height: 120vh;
  }

}



@media only screen and (max-width: 769px) {
  .page2 {
    height: 280vh;
  }
  .page3{
    position: absolute;
    top: 380vh;
  }
  .page4{
    position: absolute;
    top: 950vh;
  
  }

  .h{
    margin-bottom: 15px;
    border: 1px solid white;
  }


}

@media only screen and (max-width: 576px) {

  .page4{
    position: absolute;
    top: 960vh;
 
  }

  


}


@media only screen and (max-width: 500px) {

  .page4{
    position: absolute;
    top: 920vh;
 
  }
  .hz{
    font-size: 1.3em;
  }

  


}

@media only screen and (max-width: 480px) {

  .page4{
    position: absolute;
    top: 900vh;
  }

  


}
@media only screen and (max-width: 460px) {

  .page4{
    position: absolute;
    top:885vh;
  }

  


}

@media only screen and (max-width: 430px) {

  .page4{
    position: absolute;
    top: 860vh;
    /* height: 170vh; */
  }

  


}

@media only screen and (max-width: 410px) {

  .page4{
    position: absolute;
    top: 840vh;
  }

  


}

@media only screen and (max-width: 390px) {

  .page4{
    position: absolute;
    top: 850vh;
    height: 140vh;
  }

  


}

@media only screen and (max-width: 370px) {

  .page4{
    position: absolute;
    top: 850vh;
  }

   


}

@media only screen and (max-width: 350px) {

  .page4{
    position: absolute;
    top: 820vh;
  }

  


} 









